* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bgColor: whitesmoke;
  --dark: #2c2c2c;
  --accent: #767ade;
  --mainFont: 'Roboto';
  --fallbackFont: 'Helvetica';
  --monoFont: 'Ubunto Mono';
}

@font-face {
  font-family: 'Ubunto Mono';
  src: url(assets/UbuntuMono-Regular.ttf);
}

body {
  background-color: var(--bgColor);
  color: var(--dark);
  font-family: var(--monoFont), var(--fallbackFont);
  line-height: 1.2;
  min-width: fit-content;
}

header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 2rem 1rem 1rem;
  background-color: var(--bgColor);
  z-index: 2;
  height: 3rem;
}

header::before {
  content: '';
  background: linear-gradient(var(--bgColor), transparent);
  width: 100%;
  position: absolute;
  top: 3rem;
  height: 3rem;
  left: 0;
}

.logo img {
  width: 3rem;
  height: max-content;
}

header h1 {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1.4rem;
  position: relative;
  top: -8px;
  margin: 0 0 0 0.5rem;
  font-family: var(--monoFont);
}

header h1:hover {
  cursor: pointer;
}


header ul a {
  font-family: var(--monoFont);
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 1rem 0 0;
  display: inline-block;
}

header ul a:focus {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

header ul a:focus::before {
  content: '>';
  position: relative;
  left: -5px;

}

header ul a:focus::after {
  content: '';
  width: 20px;
  height: 1px;
  display: block;
  background: black;
  position: relative;
  top: -1px;
} 

button {
  padding: 0.5rem;
}

a {
  text-underline-offset: 4px;
  color: black;
}


header,
#projects,
footer {
  display: flex;
}

/* Main Content Styling */
main {
  position: relative;
  min-width: fit-content;
}

.hero {
  height: calc(100vh - 8rem);
  position: relative;
  top: 4rem;
  margin: 2rem;
  font-size: 1.5rem;
}

.newLine::before {
  content: '>';
  margin: 0 0.5rem 0 0;
}

section {
  padding: 2rem;
  min-height: 60vh;
  scroll-margin-top: 5rem;
}

section h2 {
  font-weight: 400;
  margin: 0 0 2rem;
  text-align: center;
}

#projects {
  flex-wrap: wrap;
  gap: 1rem;
}

#projects h2 {
  width: 100%;
}

.cardContainer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 800px;
}

.card {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  flex: 45%;
  width: 50%;
  min-width: 350px;
}

.card img,
.card video {
  border-right: 1px solid black;
  max-width: 100%;
  height: 300px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bento {
  max-width: 100%;
}

.bento img {
  object-fit: cover;
}

.projectDetails {
  padding: 1rem;
}

.projectDetails h3 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.projectDetails :is(h3, p) {
  margin: 0 0 1rem;
}

.projectDetails a {
  background-color: var(--accent);
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 1rem;
  margin: 2rem 0 0;
  display: block;
  width: max-content;
}

/* Skills Section Styling */
#skills {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 80vh;
  flex-direction: column;
}

#skills h2 {
  width: 100%;
  align-self: end;
}

.skillContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  background-color: white;
  padding: 2rem;
  margin: 1rem;
  width: 300px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid black;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill p {
  font-size: 1.4rem;
  flex: 1;
  align-self: center;
}

.progressbar {
  width: 100%;
  height: 7px;
  border: 1px solid black;
  border-radius: 2px;
}

.skill img {
  display: inline;
  width: 3rem;
}

.progressbar.progress::after {
  height: 6px;
  width: 80%;
  background-color: var(--dark);
  border-radius: 2px;
  display: block;
  border-right: 1px solid black;
}

.progressbar::after {
  content: '';
  width: 0%;
  background-color: var(--dark);
  display: block;
  transition: all 500ms ease-out;
}

.skill:nth-child(2n + 0) :is(.progressbar.progress)::after {
  max-width: 70%;
}

/* About Section Styling */
#about {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.aboutInfo {
  background-color: white;
  padding: 2rem 1rem;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 500px;
  display: flex;
  gap: 1rem;
}

.bold {
  font-weight: 600;
}

.aboutInfo img {
  min-width: 100px;
  width: 100%;
  object-fit: cover;
}

#about .intro {
  display: inline-block;
  letter-spacing: 0.5px;
  font-size: 2rem;
  font-weight: 800;
  width: 100%;
  margin: 0 0 0.5rem;
}

/* Contact Section Styling */
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 80vh;
}
#contact form {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: white;
  padding: 1rem;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 5px;
  gap: 1rem;
}

#contact form label {
  display: inline-block;
  align-self: flex-end;
  min-width: fit-content;
}

#contact form input,
#contact textarea {
  border: none;
  border-bottom: 1px solid black;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
  outline: none;
}

#contact form textarea {
  outline: none;
  field-sizing: content;
}

#contact form button {
  padding: 0.5rem 1rem;
  max-height: max-content;
  grid-column: 2;
  justify-self: end;
  width: fit-content
}

/* Footer Styling */
footer {
  padding: 1rem;
}


/* To Top Button Styling */
#toTopBtn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  transform: translateY(6rem);
  transition: transform 500ms ease-out;
  background-color: transparent;
  border: none;
}

#toTopBtn:hover {
  cursor: pointer;
}

#toTopBtn img {
  width: 2rem;
}


/* Gallery.html Styling */
#gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#gridContainer img {
  max-width: 500px;
  max-height: 200px;
}


@media only screen and (max-width: 700px) {
  .bento {
    flex-direction: column;
  }

  .bento img {
    max-height: fit-content;
    min-height: fit-content;
    border-right: none;
    border-top-right-radius: 5px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    font-size: 0.8rem;
  }

  h1 {
    margin: 0
  }

  .logo {
    margin: 0 auto;
  }

  nav {
    margin: 0 auto;
    position: relative;
  }

  header ul a {
    margin: 0 0.5rem;
  }

  .logo h1 {
    font-size: 1.2rem;
  }

  .logo img {
    width: 2rem;
  }
}


@media only screen and (max-width: 500px) {


  .aboutInfo {
    position: relative;
  }

  .aboutInfo .intro {
    font-size: 1rem;
  }

  #about h2 {
    display: none;
  } 

  .aboutInfo p {
    text-align: center;
    margin: 5rem 0 0;
  }

  .aboutInfo img {
    position: absolute;
    width: 140px;
    min-width: 70px;
    flex: 1;
    top: -80px;
    left: 30%;
  }
}

@media only screen and (max-width: 415px) {


  #projects {
    width: fit-content;
    justify-content: center;
    padding: 1rem;
  }

  .card {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2rem 0;
    margin: 0 1rem;
    min-width: auto;
  }

  .card :is(video, img) {
    width: 70%;
    max-width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: unset;
  }

  .card a {
    margin: 0 auto;
  }

  .bento img {
    border-radius: unset;
    border: 1px solid black;
  }

  section {
    min-width: fit-content;
  }

  #skills h2 {
    min-width: fit-content;
  }
}